<div class="jumbotron">
    <h1>ASP.NET RESTful API Demo</h1>
    <p class="lead">Demo service for the Community Software Project</p>
</div>
<div>
   <p><a href="../api/Collections">../api/Collections</a></p>
   <p><a href="../api/Collections/1">../api/Collections/1</a></p>
    <p><a href="../api/Plants">../api/Plants</a></p>
   <p><a href="../api/Plants/1">../api/Plants/1</a></p>
</div>
