
<h2> Simple REST Web API Demo</h2>
<div>
    <p>
        <a href="~/api/Dog">localhost:xxxx/api/Dog</a>
    </p>

    <p>
        <a href="~/api/Dog/2">localhost:xxxx/api/Dog/2</a>
    </p>

    <p>
        <a href="~/api/Farmer">localhost:xxxx/api/Farmer</a>
    </p>

    <p>
        <a href="~/api/Farmer/1">localhost:xxxx/api/Farmer/1</a>
    </p>
</div>
