@*
    View not set up for HTTP, just the default view of the index method of the Values controller
*@
@{
    ViewData["Title"] = "Values/Index";
}

<h2>Values/Index</h2>


<p>A simple default view...</p>
